.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}

.header-container .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header-container .header .logo-container {
  display: block;
  padding-right: 1rem;
  padding-left: 2rem;
}

.header-container .header .logo-container .logo-txt {
  font-size: 3rem;
  font-weight: var(--font-semibold);
  color: #000;
  letter-spacing: 0.1rem;
  text-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.header-container .header .logo-container .logo-txt::first-letter {
  color: var(--color-primary);
}

.header-container .header .serach-container {
  width: 45%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 1rem;
  height: 4rem;
  background-color: var(--color-light-gray);
  border-radius: var(--border-radius);
}

.header-container .header .serach-container .search-input-container {
  width: 100%;
  height: 100%;
  display: block;
  padding: 1rem;
}

.header-container .header .serach-container .serach-input {
  width: 100%;
  height: 100%;
  font-size: var(--font-size-2);
  color: #000;
  background-color: transparent;
  outline: none;
}

 .header-container .header .serach-container .search-btn {
  padding: 1rem;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.header-container .header .serach-container .search-btn .icon {
  font-size: var(--icon-size);
  color: var(--color-gray);
}

.header-container .header .serach-container:hover {
  background-color: var(--color-primary-light);
}

.header-container .header .header-nav-link-container {
  padding-left: 1.5rem;
  display: block;
}

.header-container .header .header-nav-link-container .header-links {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.header-container .header .header-nav-link-container .header-links .link-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 1.5rem;
}

.header-container .header .header-nav-link-container .header-links .link-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-2);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: 0.8rem;
  color: #000;
  gap: 0.6rem;
}

.header-container .header .header-nav-link-container .header-links .link-item .nav-link .icon {
  font-size: var(--icon-size);
}

.header-container .header .header-nav-link-container .header-links .link-item .nav-link .icon-con {
  font-size: var(--arrow-icon-size);
  display: inline-flex;
  align-items: center;
}

.header-container .header .header-nav-link-container .header-links .link-item .nav-link .icon-con .icon {
  font-size: inherit;
  transition: 0.3s;
}

.header-container .header .header-nav-link-container .header-links .link-item:first-child .nav-link:hover {
  background-color: var(--color-primary);
}

.header-container .header .header-nav-link-container .header-links .link-item:first-child .nav-link:hover .icon-con .icon {
  transform: rotate(180deg);
}

.header-container .header .header-nav-link-container .header-links .link-item:first-child .nav-link:hover {
  color: #fff;
}

/* animation: slideBottom 0.4s ease forwards;
 animation: appear ease;
animation-timeline: view();
animation-range: entry 0% cover 40%; 

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */
